<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org" lang="en"><head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1"/><link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/><link href="../static/css/niko.css" th:href="@{/css/niko.css}" rel="stylesheet"/><title th:replace="/fragments/title :: title"></title></head><body><nav th:replace="/authorised/fragments/nav :: nav"></nav><div class="container">

    <div class="alert alert-success alert-dismissible fade in" role="alert" th:if="${not #lists.isEmpty(infos)}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Success!</strong><br/>
        <div th:each="i : ${infos}">
            <li th:text="${i}"></li>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Niko!</h1>
            <p>You are logged in.</p>
        </div>
    </div>

<footer th:replace="/fragments/footer :: footer"></footer></div><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script></body></html>