<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org" lang="en"><head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1"/><link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/><title th:replace="/fragments/title :: title"></title></head><body><nav th:replace="/authorised/fragments/nav :: nav"></nav><div class="container">

   <h2>My projects</h2>

   <hr/>

   <ul class="list-group" >
      <li class="list-group-item" th:each="p : ${projects}" th:text="${p.title}"></li>
   </ul>

   <div th:if="${#lists.isEmpty(beans.currentUser.user.ownedProjects)}">
      <p>You don't have any projects. Please, add new project first.</p>
   </div>

   <footer th:replace="/fragments/footer :: footer"></footer></div><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script></body></html>