/*
 * Niko CSS
 */

/*
 * Mood adding calendar
 */

.ui-state-already-added-bad span{
    color:black !important;
    background:rgb(255,50,50) !important;
    pointer-events:auto;
}

.ui-state-already-added-neutral span{
    color:black !important;
    background:rgb(255,255,50) !important;
    pointer-events:auto;
}

.ui-state-already-added-happy span{
    color:black !important;
    background:rgb(50,255,50) !important;
    pointer-events:auto;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #dad55e;
	background: #c0e9f3;
	color: #777620;
}
.ui-state-checked {
	border: 1px solid #dad55e;
	background: #c0e9f3;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #003eff;
	background: #007fff;
	font-weight: normal;
	color: #ffffff;
}

/*
 * Mood selection radio buttons
 */

.btn-xlg,
.btn-group-xlg > .btn {
  padding: 10px 16px;
  font-size: 36px;
  line-height: 1.3333333;
  border-radius: 12px;
}

.btn-xxlg,
.btn-group-xxlg > .btn {
  padding: 10px 16px;
  font-size: 48px;
  line-height: 1.3333333;
  border-radius: 18px;
}
.btn-xxlg.active:hover{
    color:black;
}
.btn-xxlg:hover{
    color:	#C0C0C0;
}

.btn-danger.active, .open>.dropdown-toggle.btn-danger {
    color: black;
    border :2px solid #97151B;
    font-weight: bold;
}
.btn-warning.active, .open>.dropdown-toggle.btn-warning {
    color: black;
    border :2px solid #C6A413;
    font-weight: bold;
}
.btn-success.active, .open>.dropdown-toggle.btn-success {
    color: black;
    border :2px solid #2C723A;
    font-weight: bold;
}


 *
 * Projects list styles
 */

.row {
    position: relative;
    height: 40px;
    font-size: larger;
}

.list-group-item:hover {
    background-color: rgb(250, 250, 250);
   opacity: 1.0;
}

.hover-btn-text {
    padding-top: 8px;
}

.hover-btn {
   opacity: 0.4;
}

.row:hover .hover-btn {
   opacity: 1.0;
}

/*
 * Projects list popover styles
 */

.popover-title .close{
    position: relative;
    bottom: 3px;
}

/*
 * Message box
 */

.messagefloatingcontainerbox {
    pointer-events:none;
    position:fixed;
    width:100%;
    z-index:512;
    top:70px;
}

.messagefloatingcontainer {
    pointer-events:auto;
    width: 800px;
    margin: 0 auto;
 }

/*
 * Mood overview
 */

.project-owner-text {
    padding-top: 16px;
}

.btn-mood {
  cursor: default;
  font-size: 1.75vw;
  border-radius: 50%;
  margin: 0.1vw;
}

.th-weekend {
  background-color: rgb(235, 235, 235);
}

.td-weekend {
  background-color: rgb(247, 247, 247);
}