<nav class="navbar navbar-default" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-tasks"></span> Niko</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/project">My projects</a></li>
                <li><a href="/mood/overview">Mood overview</a></li>
                <li><a href="/project/add">Add new project</a></li>
                <li><a href="/mood/add">Add mood to project</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:text="${beans.currentUser.user.displayName}"></a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>